<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Fashion Recommendation System Using Deep Learning</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../static/assets/img/favicon.png" rel="icon">
  <link href="../static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../static/assets/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: 
  * Updated: Jul 27 2023 with Bootstrap v5.3.1
  * Template URL: https://bootstrapmade.com/-bootstrap-business-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <section id="topbar" class="topbar d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">
        
        
      </div>
      <div class="social-links d-none d-md-flex align-items-center">
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
      </div>
    </div>
  </section><!-- End Top Bar -->

  <header id="header" class="header d-flex align-items-center">

    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1>Fashion Sense</h1>
      </a>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/ihome.html">Home</a></li>
          <li><a href="/men.html">Men</a></li>
          <li><a href="/women.html">Women</a></li>
          <li><a href="/p.html">Recommend</a></li>
          <li><a href="/kids.html">Boy</a></li>
          <li><a href="/kidsg.html">Girl</a></li>
          <li><a href="/index">Logout</a></li>
        </ul>
      </nav><!-- .navbar -->

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
  </header><!-- End Header -->
  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero" style="background: url(../static/assets/img/front1.png);background-size:cover;background-repeat:no-repeat" >
    <div class="container position-relative">
      <div class="container position-relative" style='display:flex;justify-content:space-between'>
        <div style="width:100%">
           <img src="../static/assets/img/men.png" style="max-height:32rem" alt="image">
        </div>
        <div class="size-chart" style="width:50%; margin-right:3rem">
          <h4><font color="white">Size Chart</font></h4>
          <table class="table table-bordered">
            <thead>
              <tr>
                
                <th>Chest (inches)</th>
                <th>Shoulders (inches)</th>
                <th>Length (inches)</th>
                <th>Size</th>
                <th>Across Shoulder (inches)</th>
                <th>Sleeve Length (inches)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
               
                <td>19</td>
                <td>16</td>
                <td>21</td>
                <td>38</td>
                <td>17</td>
                <td>24</td>
              </tr>
              <tr>
               
                <td>28</td>
                <td>17</td>
                <td>27</td>
                <td>40</td>
                <td>18</td>
                <td>25</td>
              </tr>
              <tr>
               
                <td>29</td>
                <td>18</td>
                <td>28</td>
                <td>42</td>
                <td>19</td>
                <td>26</td>
              </tr>
              <tr>
                
                <td>30</td>
                <td>20</td>
                <td>29</td>
                <td>44</td>
                <td>20</td>
                <td>27</td>
              </tr>
              <tr>
                
                <td>32</td>
                <td>23</td>
                <td>29</td>
                <td>46</td>
                <td>21</td>
                <td>29</td>
              </tr>
            </tbody>
          </table>
        </div>
       <div  style="width:100%">
        <h4><font color="white">Enter Data</font></h4> 
        <form action="/menact" method="POST">

            <div class="form-group">
            <label for="UserName"><font color="white">Chest:</font></label>
            <input type="number" min="0" class="form-control" name="chest" required id="Chest">            
            <div class="form-group">
            <label for="email"><font color="white">Shoulders:</font></label>
            <input type="number" min="0" class="form-control" name="shoulders" required id="Shoulders">
            </div>
            
            <div class="form-group">
              <label for="email"><font color="white">Length:</font></label>
              <input type="number" step="0.01" class="form-control" name="dlength" required id="Length">
              </div>
            
              <div class="form-group">
                <label for="email"><font color="white">Size:</font></label>
                <input type="number" min="0" class="form-control" name="dsize" required id="email">
                </div>
                <div class="form-group">
                    <label for="email"><font color="white">Across Shoulder:</font></label>
                    <input type="number" step="0.01" class="form-control" name="ashoulder" required id="email">
                    </div>
                    <div class="form-group">
                        <label for="email"><font color="white">Sleeve Length:</font></label>
                        <input type="number" min="0" class="form-control" name="slength" required id="email">
                        </div>
                        <div class="form-group">
                            <label for="email"><font color="white">SkinColour:</font></label>
                            <input type="text"  class="form-control" name="dcolour" required id="email">
                            </div>
                            <div class="form-group" style="padding-bottom:4px">
                              <label for="email"><font color="white">Category:</label>
                              <select class="form-control" name="Category" required id="Category">
                                <option value="" disabled selected>Select Size</option>
                                <option value="S">S</option>
                                <option value="M">M</option>
                                <option value="L">L</option>
                                <option value="XL">XL</option>
                                <option value="XXL">XXL</option>
                              </select>
                              </div>
                               
            
            
                         <button type="submit"   style="background-color:#008374;margin-top:1rem;margin-left:10rem" class="btn btn-default btn-primary">Submit</button>
                         <br><br>
                        
            </form>
          </div>
  
       
      
    </div>
    <br><br><br><br>
    <br><br><br><br>   
  </div>
    </div>
  </section>
  <!-- End Hero Section -->

  <script>
    // Select all form inputs and the size chart
    var inputs = document.querySelectorAll('input');
    var sizeChart = document.getElementById('size-chart');

    // Initially hide the size chart
    sizeChart.style.display = 'none';

    // Add event listeners to each input
    inputs.forEach(function(input) {
        input.addEventListener('focus', function() {
            sizeChart.style.display = 'block';
        });

        input.addEventListener('blur', function() {
            sizeChart.style.display = 'none';
        });
    });
</script>


</body>

</html>